@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  border-radius: 50%;
  border-top: 4px solid #9f7aea;
  width: 48px;
  height: 48px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@font-face {
  font-family: Piepie;
  src: url(./fonts/Piepie.ttf);
}

@font-face {
  font-family: Marsden;
  src: url(./fonts/Marsden.ttf);
}

.piepie {
  font-family: "Piepie";
}

.marsden {
  font-family: "Marsden";
}

.weirdborder {
  text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0.540302px 0.841471px 0px, rgb(0, 0, 0) -0.416147px 0.909297px 0px, rgb(0, 0, 0) -0.989992px 0.14112px 0px, rgb(0, 0, 0) -0.653644px -0.756802px 0px, rgb(0, 0, 0) 0.283662px -0.958924px 0px, rgb(0, 0, 0) 0.96017px -0.279415px 0px;
}

.totbg {
  background-image: radial-gradient(#a5f3fc 2px, transparent 2px);
background-size: 32px 32px;
background-color: #fda4af;
}